$font-family-base: "Poppins", sans-serif, Arial;
$font-family-code: "Poppins", sans-serif, Arial;

// $background-color-mix: #fdfcfb;
// $background-color-mix-with: #e2d1c3;

body {
  font-family: $font-family-base;
}
