.login_pic {
  width: 100%;
  max-width: 500px;
}

p {
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
}

#Emailinput {
  font-weight: bold;
  font-family: $font-family;
}

#Passwordinput {
  font-weight: bold;
  font-family: $font-family;
}
