.log_in {
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: $text-color;
  padding: 25px 10px;
}

.form-label {
  font-size: 25px;
  margin: 10px;
}

form {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.cta_submit {
  color: $text-color;
  background: $background_btn;
  padding: 12px 12px;
  font-weight: bold;
  border: none;
  text-decoration: none;
  box-shadow: 16px 16px 10px rgba(0, 0, 0, 0.038),
    100px 100px 80px rgba(0, 0, 0, 0.07);
  border-radius: 0.5rem;
}
.cta_submit:hover {
  background: $background_btn_hover;
  box-shadow: 16px 16px 10px rgba(0, 0, 0, 0.038),
    100px 100px 80px rgba(0, 0, 0, 0.07);
  border-radius: 0.5rem;
}

.log_pic {
  width: 100%;
  max-width: 600px;
}
