$green: #9cdad7;
$background_btn: #9cdad7;
$text-color: #373737;
$blue: #ace7ef;
$background_btn_hover: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);

.wrapper {
  display: flex;
  list-style: none;
}

nav {
  font-weight: bold;
  .bike_logo {
    width: 100%;
    max-width: 80px;
  }
  .main_header {
    align-items: center;
    font-size: 1.3rem;
  }

  .form-control {
    width: 100%;
    max-width: 14rem;
    height: 3.1rem;
    margin: 5px;
    padding: 12px;
  }

  .navbar-toggler-icon {
    width: 1em;
    height: 1em;
  }

  .cta_search {
    color: $text-color;
    background: $background_btn;
    padding: 12px 12px;
    font-weight: bold;
    border: none;
    text-decoration: none;
    box-shadow: 16px 16px 10px rgba(0, 0, 0, 0.038),
      100px 100px 80px rgba(0, 0, 0, 0.07);
    border-radius: 0.5rem;
    margin: 25px;
    width: 100%;
    max-width: 150px;
  }
  .cta_search:hover {
    background: $background_btn_hover;
    border-radius: 0.5rem;
  }

  .cta_model {
    color: $text-color;
    background: $blue;
    font-weight: bold;
    border: none;
    text-decoration: none;
    box-shadow: 16px 16px 10px rgba(0, 0, 0, 0.038),
      100px 100px 80px rgba(0, 0, 0, 0.07);
    border-radius: 0.5rem;
    transition: 0.5s ease-in-out;
  }
  .cta_model:hover {
    background: $background_btn_hover;
    box-shadow: 16px 16px 10px rgba(0, 0, 0, 0.038),
      100px 100px 80px rgba(0, 0, 0, 0.07);
    border-radius: 0.5rem;
  }
}

.cta-senter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 68px;
  margin: 20 auto;
  margin-right: 15px;
}

.logo {
  width: 120px;
}

.icons {
  width: 100%;
  max-width: 29px;
  padding: 2px;
  margin: 10px;
}

.modal-body {
  outline: 1px solid yellowgreen;
  margin: 10px;
}

.write_post {
  width: 100%;
  max-width: 400px;
}
