nav {
  font-weight: bold;
  .bike_logo {
    width: 100%;
    max-width: 80px;
  }
  .form-control {
    width: 100%;
    max-width: 10rem;
  }
}

.logo {
  width: 100%;
  max-width: 20px;
  margin-left: 25px;
  margin-right: 25px;
}
