// $background_btn: #9cdad7;
// $background_btn_hover: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);

h2,
h3 {
  text-align: center;
  padding: 10px;
}

.details {
  font-weight: bold;
}

.profile_section {
  margin-top: 25px;
  .wrap_box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
    .profile_page_img {
      width: 100%;
      max-width: 110px;
      border-radius: 22rem;
    }
  }
}

.post {
  border: 0.5px solid #e6e6e6;
}

.profile_stories {
  width: 100%;
  max-width: 70px;
}

.Stories {
  border: 0.5px solid #e6e6e6;
  padding: 10px;
  border-radius: 39px 29px;
  margin-top: 25px;
  .profile_friends {
    width: 100%;
    max-width: 115px;
    padding: 10px;
  }
}

.profile_event {
  width: 100%;
  max-width: 110px;
  padding: 10px;
}

.post_box {
  margin-top: 25px;
  max-width: 600px;
  padding: 15px;
  .card_img {
    max-width: 55px;
    border-radius: 80%;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  .d-flex {
    margin: 15px;
  }
}

.freinds_names {
  width: 125px;
  box-sizing: border-box;
}
.feature,
.friends {
  display: flex;
  justify-content: center;
  align-items: center;
}
