$gray-normal: #e7e9ea;
$green: #9cdad7;
$background_btn: #9cdad7;
$text-color: #373737;
$blue: #ace7ef;
$background_btn_hover: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);

h2,
h3 {
  text-align: center;
  padding: 10px;
}

.cta_search {
  color: $text-color;
  background: $background_btn;
  padding: 12px 12px;
  font-weight: bold;
  border: none;
  text-decoration: none;
  box-shadow: 16px 16px 10px rgba(0, 0, 0, 0.038),
    100px 100px 80px rgba(0, 0, 0, 0.07);
  border-radius: 0.5rem;
}
.cta_search:hover {
  background: $background_btn_hover;
  box-shadow: 16px 16px 10px rgba(0, 0, 0, 0.038),
    100px 100px 80px rgba(0, 0, 0, 0.07);
  border-radius: 0.5rem;
}

.profile_section {
  margin-top: 25px;
  .wrap_box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
    margin-top: 20px;
    .profile_page_img {
      width: 100%;
      max-width: 120px;
      border-radius: 22rem;
    }
  }
}

.post {
  background-color: $gray-normal;
}

.profile_stories {
  width: 100%;
  max-width: 70px;
}

.profile_friends {
  width: 100%;
  max-width: 120px;
  padding: 10px;
}

.Stories {
  background: $gray-normal;
  padding: 10px;
  border-radius: 39px 29px;
  margin-top: 25px;
}

.details {
  font-weight: bold;
}

.post_box {
  margin-top: 25px;
  max-width: 600px;
  padding: 15px;
  .card_img {
    max-width: 55px;
    border-radius: 80%;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
}

// .item-one {
//   background: red;
// }
// .item-two {
//   background: rgb(118, 118, 224);
// }
// .col {
//   background: rgb(204, 244, 131);
// }
// .item-four {
//   background: rgb(235, 203, 87);
// }
